
<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="content-language" content="ja">
           <title>生駒市図書館アプリ【なによも？（仮称）】 by CODE for IKOMA</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <meta name="keywords" content="生駒市,図書館，検索，本">
	  <meta name="description" content="本を読みたいけどどれを読めばいいか分からない子どもが自分にあった本をめんどくさくなく直観的に探すことのできるアプリ。">
	  <meta property="og:title" content="生駒市図書館アプリ【なによも？】">
	  <meta property="og:type" content="website">
	  <meta property="og:description" content="本を読みたいけどどれを読めばいいか分からない子どもが自分にあった本をめんどくさくなく直観的に探すことのできるアプリ。">
	  <meta property="og:url" content="image/ogp.png">
	  <meta property="og:site_name" content="生駒市図書館アプリ【なによも？】">
	  <meta property="og:image" content="">
      <link rel="stylesheet" href="/stylesheets/slick.css" type="text/css">
      <link rel="stylesheet" href="/stylesheets/slick-theme.css" type="text/css">
        
      <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
        
        <link rel="stylesheet" media="all and (orientation:landscape)" href="/stylesheets/landscape.css">
      
      <link rel="shortcut icon" href="/favicon.ico" type="/images/vnd.microsoft.icon">
      <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
      <script src="/javascripts/jquery-1.11.3.min.js"></script>
      <script src="/javascripts/fade.js"></script>
      <script type="text/javascript" src="/javascripts/jquery-migrate-1.2.1.min.js"></script> <!-- http://code.jquery.com/jquery-migrate-1.2.1.min.js -->
      <script type="text/javascript" src="/javascripts/slick.min.js"></script> <!-- http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js -->
      <script type="text/javascript" src="/javascripts/handlebars.js"></script> <!-- handlebars v4.0.5 -->
      <script type="text/javascript" src="/javascripts/main.js"></script>    
    </head>
      
<body>
 <div id="wrapper">
     
<!-- Main_-->
<div id="main_container">
     
        <div id="main">
        </div>
	      <div id="loading">
	      </div>
	      <div id="result">
	      </div>
    <div class="padding_box"><div class="rakuten"><!-- Rakuten Web Services Attribution Snippet FROM HERE -->
<a href="http://webservice.rakuten.co.jp/" target="_blank">Supported by 楽天ウェブサービス</a>
<!-- Rakuten Web Services Attribution Snippet TO HERE --></div></div>
</div>  
</div>
 <!-- Main end -->
     
    <!-- Side -->
     <div id="side_container">
       <nav class="navbar">
           <ul>
             <li class="search books">
               <a onclick="goToGenreSelection()">
                <img class="bigbtn" src="/images/btn_naniyomo.png">
                <img class="minibtn" src="/images/minibtn_naniyomo.png">
              </a>
            </li>
             
            <li class="setting">
              <a onclick="goToSettings()">
                <img class="bigbtn" src="/images/btn_setting.png">
                <img class="minibtn" src="/images/minibtn_setting.png">
              </a>
            </li>
        </ul>
                      
       </nav>
     </div>
      <!-- Side end-->
     
 
    </div>
    <script type="text/x-handlebars-template" id="createInitialSetLibraries">
        <p>
            <div class="alert alert-info" role="alert">よく使う図書館は？</div>
            {{#each this}}
                <div class="checkbox"><label><input type="checkbox" id="{{@key}}">{{this.name}}</label></div>
            {{/each}}
        </p>
        <button type="button" class="btn btn-success" onClick="onSetLibraries()">次へ</button>
    </script>

    <script type="text/x-handlebars-template" id="createInitialSetAge">
        <p>
            <div class="alert alert-info" role="alert">対象年齢は？</div>
            <div class="btn-group-vertical" role="group" aria-label="age">
            {{#each this}}
                    <input type="radio" name="age" value="{{@key}}" >{{this.name}}</br>
                {{/each}}
            </div>
        </p>
        <button type="button" class="btn btn-warning" onClick="createInitialSetLibraries()">戻る</button>
        <button type="button" class="btn btn-success" onClick="onSetAge()">次へ</button>
    </script>

    <script type="text/x-handlebars-template" id="createSearchOptions">
      <p>
        <div class="dropdown">
          <button id="optionIsRecommendation" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#" onClick="setOptionIsRecommendation('ON')">ON</a></li>
            <li><a href="#" onClick="setOptionIsRecommendation('OFF')">OFF</a></li>
          </ul>
        </div>
      </p>
      <p>
        <div class="dropdown">
          <button id="optionLibraries" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              {{#each this.useLibraries}}
                <li><a href="#" onClick="setOptionLibraries('{{@key}}')">{{this.name}}</a></li>
              {{/each}}
          </ul>
        </div>
      </p>
      <p><input type="text" id="optionTitle" class="form-control" placeholder="書名" value="{{title}}"></p>
      <p><input type="text" id="optionAuthor" class="form-control" placeholder="著者名" value="{{author}}"></p>
      <p><input type="text" id="optionPublisherName" class="form-control" placeholder="出版社" value="{{publisherName}}"></p>
      <p><input type="button" class="btn btn-success" id="goToSearch" value="決定" onClick="setSearchOptions(); goToSearch()">
    </script>

    <script type="text/x-handlebars-template" id="goToSettings">
      <p><input type="button" class="btn btn-default" id="BtnSearchOptions" value="検索条件" onClick="onSearchOptions()"></p>
      <p><div class="dropdown">
        <button id="viewStyle" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          {{#each this}}
            <li><a href="#" onClick="setViewStyle('{{@key}}')">{{this.name}}</a></li>
          {{/each}}
        </ul>
      </div></p>
      <p><input type="button" class="btn btn-default" id="useFromMultiDevice" value="マルチデバイスでの使用" onClick=""></p>
    </script>

<!-- 一覧表示 -->
    <script type="text/x-handlebars-template" id="book-list-normal">
      {{#each this}}
        <a src="{{MediumImageURL}}" alt="{{Title}}" author="{{Author}}" isbn="{{Isbn}}" onClick="goToDetail(this)">
          <p>{{Title}}<br><div class="book"><img src="{{MediumImageURL}}"></div></p>
        </a>
      {{/each}}
    </script>

<!-- 横スクロール -->
    <script type="text/x-handlebars-template" id="book-list-horizontal-scroll">
      {{#each this}}
          <a src="{{MediumImageURL}}" alt="{{Title}}" author="{{Author}}" isbn="{{Isbn}}"
            CityLibRecommended="{{CityLibRecommended}}" CityLibComment="{{CityLibComment}}" onClick="goToDetail(this)"> 
            <div class="bookbox">
              <div style="height:125px;">
                <img src="{{MediumImageURL}}" height="120px">
              </div>
              <div class="book_title">{{Title}}</div>
              <div class="lib_icon">
                {{{HtmlRentaledIconsHtml}}}
                {{{HtmlRecommendedHtml}}}
              </div>
            </div>
          </a>
        {{/each}}
      </script>

<!-- カルーセル -->
    <script type="text/x-handlebars-template" id="book-list-carousel">
      {{#each this}}
      <div>
        <div class="book_detail_before"></div>
        <div class="book_detail"> 
          <table class="book_info"> 
            <tr><td colspan="2"><span class="recom_comment">↓オススメ本をクリックすると図書館司書さんからの紹介文が読めます！</span></td></tr>
              <tr>
                <td class="book_big_image" style="background-image:url('{{MediumImageURL}}'); background-size: contain; background-repeat:no-repeat;"></td> 
                <td><a href="#"><img src="/images/koreyomo.png"></a></td>
              </tr>
              <tr> 
                <td class="heading_td">タイトル：</td>
                <td colspan="2">{{Title}}</td> 
              </tr>
              <tr> 
                <td class="heading_td">作：</td> 
                <td>{{Author}}</td> 
              </tr> 
              <tr> 
                <td class="heading_td">蔵書図書館：</td> 
                <td> 
                  <div class="lib_icon">
                    {{{HtmlRentaledIconsHtml}}}
                    {{{HtmlRecommendedHtml}}}
                  </div>
                </td> 
              </tr> 
              <tr> 
                <td></td> 
                <td>
                  <a href="#"><input type="button" value="この本を買う" onclick=""></a>
                  <div class="rakuten"><!-- Rakuten Web Services Attribution Snippet FROM HERE -->
                    <a href="http://webservice.rakuten.co.jp/" target="_blank">Supported by 楽天ウェブサービス</a>
                    <!-- Rakuten Web Services Attribution Snippet TO HERE -->
                  </div>
                </td> 
              </tr>
            </table> 
          </div> 
        </div>
      </div>
      {{/each}}
    </script>
    
    <!-- 詳細表示 -->
    <script type="text/x-handlebars-template" id="go-to-detail">
      <div class="book_detail_before"></div>
        <div class="book_detail"> 
          <table class="book_info"> 
            <tr><td colspan="2"><span class="recom_comment">↓オススメ本をクリックすると図書館司書さんからの紹介文が読めます！</span></td></tr>
            <tr> 
              <td class="book_big_image" style="background-image:url('{{imageUrl}}'); background-size: contain; background-repeat:no-repeat;">
              {{#if cityLibRecommended}}
                <div id="recommend">
                  <a href="#open_recommend"><img src="/images/recommend.png" ></a>
                  <div id="modal">
                    <div id="open_recommend"> 
                      <a href="#" class="close_overlay">×</a> 
                      <div class="modal_window">
                        <h2>生駒図書館司書おすすめ</h2> 
                        <p>{{cityLibComment}}</p>
                        <a href="#"><img src="/images/close.png" ></a> 
                      </div><!--/.modal_window-->
                    </div><!--/#open01-->
                  </div><!--/#modal-->
                </div><!--/#recommend-->
              {{/if}}
              </td>
              <td> 
                <a href="#"><img src="/images/koreyomo.png"></a> 
              </td> 
            </tr> 
            <tr> 
              <td class="heading_td">タイトル：</td> 
              <td colspan="2">{{title}}</td> 
            </tr> 
            <tr> 
              <td class="heading_td">作：</td> 
              <td>{{author}}</td> 
            </tr> 
            <tr> 
              <td class="heading_td">蔵書図書館：</td> 
              <td id="target_of_calil_result"></td> 
            </tr> 
            <tr> 
              <td></td> 
              <td>
                <a href="#"><input type="button" value="この本を買う" onclick=""></a>
                <div class="rakuten"><!-- Rakuten Web Services Attribution Snippet FROM HERE -->
                  <a href="http://webservice.rakuten.co.jp/" target="_blank">Supported by 楽天ウェブサービス</a>
                  <!-- Rakuten Web Services Attribution Snippet TO HERE -->
                </div>
              </td> 
            </tr>
          </table> 
        </div> 
        <a onClick="returnToSearchResult()"><img class="back" src="/images/back.png"></a>
      </div>
    </script>
</body>
</html>