html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align:baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,body{height: 100%}
article, header, footer, a
side, figure, figcaption, nav, section { 
  display:block;
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
ol, ul {
  list-style: none;
  list-style-type: none;
}

body{
    font-size:80%;
    font-family: meiryo; 
}
img {max-width:100%; width /***/:auto; /*IE8用ハック*/} /*画像サイズが横幅に合わせて可変します*/

#wrapper{
    width: 100%;
    height: 100%;
}
#main_container{
    height: 100%;
    position: relative;
    margin:auto;
    text-align: center;
    background: url(/images/paper.jpg) repeat;
	overflow-x: hidden;
   
}

.padding_box{
	display:block;
	height:20vh;
}

#side_container{
    
    width:100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    background:url(/images/bg.jpg);
    height:100px;
    box-shadow:4px 0px 17px 1px #ebe2d3;
-moz-box-shadow:4px 0px 17px 1px #ebe2d3;
-webkit-box-shadow:4px 0px 17px 1px #ebe2d3;
}

img.bigbtn{display: none}
imb.minibtn{display: block}

.navbar{
     padding: 12px;
}
.navbar li{
    display: inline;
   
  }

.inner_container{
    white-space: nowrap;
    overflow-x: scroll;
	
}





.bookbox{
    display: inline-block;
	vertical-align: top; 
	height:200px;
    width:200px;
	margin:0px 10px;
    text-align: center;
    word-wrap : break-word;
    white-space: normal;
   
}

.book_title{
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: 180px;
	white-space: nowrap;
}

.bookbox img{
	vertical-align:middle;
	margin:0 auto 5px;
}

.lib_icon{
	
	vertical-align:baseline;
	
}

img.back{
	text-align:left;
}

.book_detail table{
	text-align:center;
	margin:0 auto;
}

.book_info td{
	
	padding:2px;
	text-align:left;
	vertical-align:top;
		border-bottom:1px solid #ebe2d3;
}

td.heading_td{
	text-align:right;
	}

td.book_big_image{
	width:250px;
	height:250px;
	vertical-align:bottom;
}
@media (min-width:640px){

   /* ↓ページレイアウト */
   #wrapper {
      display: flex;       /* フレキシブルボックスでレイアウト */
      flex-direction: row; /* 横並びにする */
   }

   /* ▼メインカラムの装飾 */
   #main_container{
      order: 2;   /* 2番目に表示 */
      width: 100%;
      margin: 0 0 0 200px;
      height: 100%;
   }
   /* ▽サイドカラムの装飾 */
   #side_container {
      order: 1;   /* 1番目に表示 */
      width: 200px;
      height: 100%;
     
   }
    
    img.bigbtn{display: block}
    img.minibtn{display: none}

    .navbar{
        position: fixed;
        top:20%;
        padding: 15px;}
    
  


}

/*===============================================
画面の横幅が769px以上（パソコン用）
===============================================*/
@media screen and (min-width: 769px){
	
	.book_detail_before{
		display:block;
		height:20vh;
 
}

/*===============================================
画面の横幅が768pxまで（タブレット用）
===============================================*/
@media screen and (max-width: 768px){


}

/*===============================================
画面の横幅が640pxまで（スマホ用）
===============================================*/
@media screen and (max-width:640px){
    

}
